
/* ==========================================================================
   Base styles:
   ========================================================================== */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

.work section {
  max-width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  margin: auto;
  background-color: #9ECAE2;
}

.work section:nth-of-type(2) {
  background-color: #E5ECED;
}

.work section:nth-of-type(3) {
  background-color: #8B858D;
}

.work section:nth-of-type(4) {
  background-color: #E2DCF1;
}

.header-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header-wrapper h1,
.header-wrapper div,
.header-wrapper nav {
  flex-basis: 33.333%;
}

header {
  position: relative;

}

.menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;

}

h1 {
  text-align: center;
  color: #273D56;

}

nav {
  text-align: right;
  text-decoration: none;

}

nav a {
  text-decoration: none;
  color: grey;

}

.full-menu {
  list-style:none;
  margin-right: 40px;
  white-space: nowrap;

}

.full-menu li {
  display: inline-block;
  margin-left: 40px;
}
.full-menu li:first-child {
  margin-left: 0;
}

/*a{
  padding-right: 50px;
  text-decoration: none;
  color: grey;
}*/

a:hover {
  color: black;
}

.active {
  color:black;
}

/* Fix for responsive images */
img {
  max-width: 50%;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  color: #273D56;
}

h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #273D56;

}

hr {
  width: 2%;
  border-style: solid;
}

.about {
  display:flex;
  justify-content: space-around;
  flex: auto;
  margin: 30px 30px 30px 30px;
}

.about img {
  width: 2000px;
  margin-bottom: auto;
  margin-left: 200px;
  /*padding: 0px 30px 0px 30px;*/
}

p {
  padding: 0px 250px 0px 100px;
}


footer {
	background-color: #000429;
	overflow: auto;
}

footer input {
	padding: 11px 10px;
	width: 200px;
	margin-right: 30px;
	border: 0;
	text-align: center;
}

footer .info {
	padding: 30px 15px;
  text-align: center;
}

footer p {
  padding: 0;
}

.social-links a {
	font-size: 30px;
	padding: 15px;
	margin-bottom: 30px;
	display: inline-block;
	color: #44545E;
}

.copyright {
	/*border-top: 2px solid #44545E;*/
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: lighter;
  font-size: 12px;
  color: #E5ECED;
  text-align: center;

}

input {
	border: 2px solid #44545E;
	margin-bottom: 12px;
	padding: 10px 10px;
	outline: 0;
}

::-webkit-input-placeholder {
   color: #7C878E;
   text-transform: uppercase;
   letter-spacing: 0.75px;
   font-size: 12.299px;
   font-weight: 600;
}

:-moz-placeholder { /* Firefox 18- */
   color: #7C878E;
   text-transform: uppercase;
   letter-spacing: 0.75px;
   font-size: 12.299px;
   font-weight: 600;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #7C878E;
   text-transform: uppercase;
   letter-spacing: 0.75px;
   font-size: 12.299px;
   font-weight: 600;
}

:-ms-input-placeholder {
   color: #7C878E;
   text-transform: uppercase;
   letter-spacing: 0.75px;
   font-size: 12.299px;
   font-weight: 600;
}

img {
	margin: 0 auto;
	width: 700px;
  height: 500px;
  overflow: auto;
	display: none;
}

img:first-of-type {
	display: block;
}

.click-zone-left {
    background-color: #9ECAE2;
    position: absolute;
    top: 180px;
    bottom: 0;
    width: 25%;
    left: 0;
    height: auto;
    cursor: url('../img/pre.svg'), auto;

}

.click-zone-right {
    background-color: #9ECAE2;
    position: absolute;
    top: 180px;
    bottom: 0;
    width: 25%;
    right: 0;
    height: auto;
    cursor: url('../img/next.svg'), auto;
}

.pagination-dots a {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-top: 20px;
  padding: 20px;

}

.pagination-dot {
  background-image:url('../img/dot-empty.svg');
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: 10px 10px;
  background-position: 50% 50%;
}

.pagination-dot.active{
  background-image:url('../img/dot-fill.svg');

}

/*.controls img {
  display: inline-block;
  width: 10px;
  padding-top: 20px;
  text-align: center;
  }*/


/*.slick-dots {
  display: inline-block;


}
.slick-dots li button {
    position: relative;
    color: transparent;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 0;
    text-align: center;
    padding: 0;
    bottom: 0;
    transition: bottom 0.2s ease;
    margin: 0 5px;
}*/

@media only screen and (max-width: 900px) {
  .click-zone-right,
  .click-zone-left {
    display: none;
  }
  /*.controls a {
    display: inline-block;
  }*/
}

@media only screen and (min-width: 480px) {
  .menu {
    display:none;
  }
}

@media only screen and (max-width: 480px) {

  .full-menu {
    display: none;
  }

  .hamburger {
    cursor: pointer;
    padding: 15px
    display: block;
    position: absolute;
    right: 10px;
  }

  .line {
    border-bottom: 4px solid #bbb;
    width: 35px;
    margin-bottom: 6px;
  }

  .line:last-child {
    margin-bottom: 0;
  }

  /* Our styles here*/
  nav li {
    width: 100%;
  }

.clearfix .menu .open {
  text-decoration: none;
}



  .menu {
    height: 0;
    overflow: auto;
    transition: height 0.3s;
    z-index: 100;
    margin-top: 0;
    width: 100%;

  }

  .open {
    height: 295px;
  }

  li a {
    display: block;
    text-decoration: none;
    color: #273D56;
    text-align: center;
    list-style: none;
    margin-top: 50px;
  }

  ul {
    list-style: none;

  }
